*,
*::before,
*::after {
  box-sizing: border-box;
  border: 2px;
  border-color: red;
  border-style: dotted;
  background-color: darkgray;
}

.topbar {
  display: flex;
  flex-direction: row;
  margin: auto 200px;
  justify-content: space-between;
}

.header-links {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.content-top {
display: flex;
justify-content: space-between;
margin: 100px auto;
}

.left-content {
  display: flex;
  margin-left: 200px;
  flex-direction: column;
}

.middle-content {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.lower-middle-content {
  display: flex;
  flex-direction: column;
}

.image-right {
  display: flex;
  margin-right: 200px;
  background-color: darkblue;
}
.middle-images {
  display: flex;
}

.four-images {
  display: flex;
  gap: 20px;
}

.four-descriptions {
display: flex;
}