*,
*::before,
*::after {
  box-sizing: border-box;
  border: 2px;
  border-color: red;
  border-style: dotted;
  background-color: darkgray;
}

body {
  font-size: 170%;
  display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-links {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.content-top {
  display: flex;justify-content: space-between;
  margin-top: 130px;
  margin-bottom: 130px;
}

.left-content {
  display: flex;
  flex-direction: column;
}

.middle-content {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.lower-middle-content {
  display: flex;
  flex-direction: column;
}

.image-right {
  display: flex;
  background-color: darkblue;
}
.middle-images {
  display: flex;
}

.four-images-content {
  display: flex;
  gap: 20px;
  margin: auto 220px;
  justify-content: space-between;
}

.four-descriptions {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-grow: 0;
}

.four-images {

}

.content-all {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.topbar-top-content {
  display: flex;
  flex-direction: column;
}
h1 {
  width: 404px;
  margin-top: 0px;
    margin-bottom: 0px;
}